#!name=Nicegram会员
#!desc=解锁Nicegram会员(2023.10.10)
#!openUrl=https://github.com/he1pu/QXRule/tree/main/Nicegram

^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url script-echo-response https://raw.githubusercontent.com/he1pu/QXRule/main/Nicegram/Nicegram.js

hostname = restore-access.indream.app
